/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$small-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  @include transition(background-color .2s ease-in-out);

  @include media-query(600px) {
    font-size: #{$base-font-size};
  }
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-top:0;
  margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
     margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-family: $headline-font-family;
  font-weight: $headline-font-weight;
}



/**
 * Links
 */
a {
  transition: opacity .2s ease-in-out;
  color: $link-color;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }
}



/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

article {
  $link-color: #111;
  .crown {
    width:60px;
    margin-bottom: 20px;
  }
  h1 {
    font-size: $large-font-size;
    @include media-query(600px) {
      font-size: $larger-font-size;
    }
    letter-spacing: -1px;
    font-weight: 900;
    line-height: 1.2;
    span {
      display: block;
      text-align: center;
      &:last-child {
        color:#111;
      }
    }
  }
  p:first-child {
    font-size:$larger-font-size;
    margin-bottom:$spacing-unit * 1.5;
  }
  p {
    font-weight: 500;
    margin-bottom:$spacing-unit;
  }

  h2 {
    font-size: $large-font-size;
  }

  a {
    transition: all .2s ease-in-out;
    color:$link-color;
    border-bottom: solid 1px rgba($brand-color, 0.2);
    padding-bottom: 2px;
    &:hover {
      border-bottom: solid 1px rgba($brand-color, 1);
    }
  }
  .join-link {
    display: inline-block;
    transition: all .2s ease-in-out;
    background-color: #000;
    color: #fff;
    padding: 10px 55px;
    border-radius: 40px;
    &:hover {
      transform: scale(1.05);
    }
  }
  .main-links {
    font-weight:700;
    margin-bottom: 0.9em;
    overflow: hidden;
  }
  .sub-links {
    font-weight:600;
    font-size:70%;
    margin-bottom: 0;
    overflow: hidden;
  }
  .nav-link {
    display:block;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.3);
    padding:15px;
    box-sizing: border-box;
    margin-bottom:5px;
  }
  @include media-query(600px) {
    .nav-link {
      display:inline-block;
      margin:0 10px;
      box-shadow: none;
      padding:0;
    }
  }
}

.index {
  text-align: center;
}
