/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  @include transition(background-color .2s ease-in-out);
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-top:0;
  margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
     margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-family: $headline-font-family;
  font-weight: $headline-font-weight;
}



/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $brand-color;
    text-decoration: none;
  }
}



/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.wrapper {
  max-width: $content-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
}

article {
  h1 {
    font-size: $larger-font-size;
    letter-spacing: -1px;
    font-weight: 900;
    line-height: 1.2;
  }
  p:first-child {
    font-size:$larger-font-size;
    margin-bottom:$spacing-unit * 1.5;
  }
  p {
    margin-bottom:$spacing-unit;
  }

  h2 {
    font-size: $large-font-size;
  }

  a {
    transition: all .2s ease-in-out;
    color:$brand-color;
    border-bottom: solid 1px rgba($brand-color, 0.2);
    padding-bottom: 2px;
    &:hover {
      border-bottom: solid 1px rgba($brand-color, 1);
    }
  }
}

.index {
  text-align: center;
}
.join-us {
  transition: opacity .2s ease-in-out;
  background: url(/assets/images/members.png) center no-repeat;
  background-size:contain;
  width:100%;
  padding-top:50%;
  display: block;
  overflow: hidden;
  text-indent: -1000000px;
  margin-top:$spacing-unit * 2;
  &:hover {
    opacity:0.8;
  }
}
