.layout-default {
  background:url(/assets/images/faces.jpg) repeat top left #111;
  background-size: 800px auto;
  min-height:100vh;
}
.flex-container {
  @include media-query(600px) {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:100vh;
  }
}


.wrapper {
  max-width: $content-width;
  margin-right: auto;
  margin-left: auto;
  padding: $spacing-unit;
  background-color:rgba(#F52C48, 0.92);
  color:#fff;
  box-shadow: 0 10px 85px 10px rgba(0,0,0,.8);
  box-sizing: border-box;
  @include media-query(600px) {
    border-radius: 10px;
    padding: $spacing-unit * 2;
  }
}
